.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
*.zip
/node_modules
/test/js
/test/browsertest/js
/test/fixtures/temp-*
/test/temp
/test/ChangesAndRemovals
/test/**/dev-defaults.webpack.lock
/assembly/**/*.wat
/assembly/**/*.wasm
/coverage
/.nyc_output
/.jest-cache
.DS_Store
*.log
.idea
.vscode
.cache
.eslintcache
package-lock.json
# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!.yarn/cache
#/.pnp.*
