.form {
  display: flex;
  flex-direction: column;
  width: 14em;
}

.inputWrapper {
  margin: auto;
}

.inputText {
  height: 2em;
  margin-bottom: 0.5em;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submitButton {
  width: 17em;
}

.selectPage {
  margin: auto;
  margin-bottom: 1em;
  width: 17em;
}
